# {{ansible_managed}}
{% if node.platform is not defined %}
  {% set platform = "sisyphus" %}
{% else %}
  {% set platform = node.platform %}
{% endif %}

{% set key = env.apt[platform].key_name %}
{% set bp  = env.apt[platform].branch_prefix %}
{% set url = env.apt[platform].url %}

{% if node.arch == 'e2k' %}
rpm {{env.apt.sources[item].url}}/e2k/deb e2k alien
rpm {{env.apt.sources[item].url}}/e2k e2k hasher
rpm {{env.apt.sources[item].url}}/e2k/misc noarch hasher
rpm {{env.apt.sources[item].url}}/e2k/lcc-1.21.24 e2k alien
{% else %}
rpm [{{key}}] {{url}} {{bp}}/{{node.arch}} classic
rpm [{{key}}] {{url}} {{bp}}/noarch classic
{% endif %}
